<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1st Title</string>
		<key>subtitle</key>
		<string>1st Subtitle</string>
		<key>mainImageName</key>
		<string>blue_icon1</string>
		<key>secondaryImageURL</key>
		<string>http://placecreature.com/100/100</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2nd Title</string>
		<key>subtitle</key>
		<string>2nd Subtitle</string>
		<key>mainImageName</key>
		<string>blue_icon2</string>
		<key>secondaryImageURL</key>
		<string>http://placecreature.com/150/150</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3rd Title</string>
		<key>subtitle</key>
		<string>3rd Subtitle</string>
		<key>mainImageName</key>
		<string>blue_icon3</string>
		<key>secondaryImageURL</key>
		<string>http://placecreature.com/200/200</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4th Title</string>
		<key>subtitle</key>
		<string>4th Subtitle</string>
		<key>mainImageName</key>
		<string>blue_icon4</string>
		<key>secondaryImageURL</key>
		<string>http://placecreature.com/300/300</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5th Title</string>
		<key>subtitle</key>
		<string>5th Subtitle</string>
		<key>mainImageName</key>
		<string>blue_icon5</string>
		<key>secondaryImageURL</key>
		<string>http://placecreature.com/101/101</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6th Title</string>
		<key>subtitle</key>
		<string>6th Subtitle</string>
		<key>mainImageURL</key>
		<string>http://placecreature.com/201/201</string>
		<key>secondaryImageName</key>
		<string>red_icon6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7th Title</string>
		<key>subtitle</key>
		<string>7th Subtitle</string>
		<key>mainImageURL</key>
		<string>http://placecreature.com/301/301</string>
		<key>secondaryImageName</key>
		<string>red_icon7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>8th Title</string>
		<key>subtitle</key>
		<string>8th Subtitle</string>
		<key>mainImageURL</key>
		<string>http://placecreature.com/401/401</string>
		<key>secondaryImageName</key>
		<string>red_icon8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>9th Title</string>
		<key>subtitle</key>
		<string>9th Subtitle</string>
		<key>mainImageURL</key>
		<string>http://placecreature.com/102/102</string>
		<key>secondaryImageName</key>
		<string>red_icon9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is a really long title to show how the 10th cell will resize to fit it</string>
		<key>subtitle</key>
		<string>This is a really long subtitle to show how the 10th cell will resize to fit it</string>
		<key>mainImageURL</key>
		<string>http://placecreature.com/202/202</string>
		<key>secondaryImageName</key>
		<string>red_icon10</string>
	</dict>
</array>
</plist>
